.Pokecard {
	background-color: rgb(216, 209, 209);
	width: 10rem;
	display: inline-block;
	margin: 1rem;
	border-radius: 10%;
	padding: .5rem;
}

.Pokecard-title {
	color: blue;
	font-weight: bold;
}
